.container {
	margin-top: 60px;
    display: flex; 
    justify-content: space-between; 
    align-items: flex-start; 
    gap: 20px; 
}

h1{
	text-align: center;
	margin-top: 40px;
	margin-bottom: 40px;
}


#ciudadUno{

	width: 33%;
	border: 2px solid gray;
}

#ciudadDos{

	width: 33%;
	border: 2px solid gray;
}

#ciudadTres{

	width: 33%;
	border: 2px solid gray;
}



.texto-pequeno {
    font-size: 20px; /* Reduce el tamaño de la letra */
    font-weight: normal; /* Evita la negrita */
    color: #333; /* Ajusta el color si es necesario */
}